{% extends 'admin/templates/base.twig' %}

{% block content %}
    <div class="content-top-1">
        <div class="col-md-6 top-content">
            <p>Postinganmu</p>
        </div>
        <div class="col-md-6 top-content1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque deserunt, placeat magnam! Modi ex quo perferendis incidunt velit, dicta aliquid debitis iure voluptatibus qui blanditiis quasi quisquam a excepturi consequuntur.
            </p>
        </div>
        <div class="clearfix"> </div>
    </div>
{% endblock %}