{% extends 'admin/templates/base.twig' %}
{% block content %}
    <div class="grid-form1">
        <h3>Form SignUp</h3>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        label.
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}